
<br/>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue white-text z-depth-5 hoverable">
      <div class="card-content">
        <span class="card-title">Map Group Information:</span>
        <hr style = "display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
        
        <p>
          <strong>Name:</strong>
          <%= @map_group.Name %>
        </p>

        <br/>
      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Edit', edit_map_group_path(@map_group), class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back', map_groups_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
