<h3>New Alarm</h3>

<%= render 'form', alarm: @alarm, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>

<%= link_to 'Back', alarms_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
