<h3>Editing Client Site</h3>

<%= render 'form', client: @client %>

<%= link_to 'Show', @client, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back', clients_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
