
<h3><u>Logs</u></h3>

<%= react_component("SortableTable",
    {
        logs: @logs.as_json(include: {user: {except: :id}, client: {except: :id}, client_group: {except: :id}, device: {except: :id}, message: {except: :id}}),
        # map_groups: @map_groups.as_json(include: :devices),
    })
%>

<br>

<%= link_to 'New Log', new_log_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
