<h3>Editing Group</h3>

<%= render 'form', client_group: @client_group %>

<%= link_to 'Show', @client_group, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %> |
<%= link_to 'Back', client_groups_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
