<h3><u><%= @client_group.Name %> MapView</u></h3>

<br/>
<br/>

<%= react_component("GoogleMap",
    {
        markerIconOnline: asset_path("deviceOnline.png"),
        markerIconOffline: asset_path("deviceOffline.png"),
        markerIconMaintenance: asset_path("deviceMaintenance.png"),
        markerIconAlarm: asset_path("deviceAlarm.png"),
        perimIconUrl: asset_path("perimeter.png"),
        curr_client_group: @client_group.id,
        map_lat: @client_group.latitude ? @client_group.latitude : 47.444,
        map_lng: @client_group.longitude ? @client_group.longitude : -122.176,
        auth_token: form_authenticity_token,
        devices: @devices.as_json,
        map_groups: @map_groups.as_json(include: :devices),
        curr_user_i: current_user.id,
        curr_user_type: current_user.usertype,
    })
%>

<br/>
<br/>
<br/>

<% if current_user.usertype == "Operator" %>
    <%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
<% else %>
    <%= link_to 'Back to Client Groups', client_groups_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
<% end %>