<h3><u><%= @client_group.Name %> MapView</u></h3>

<% if (current_user.usertype != "Operator" && ( @client_group.latitude.nil? || @client_group.longitude.nil? )) %>
    <br/>
    
    <div class = "tip" style = "font-style: italic; color: grey; border-style: dashed; border-size: 1px; border-radius: 10px; padding: 15px;">

        <button
            class= "waves-effect waves-light blue lighten-1 btn-small white-text"
            onclick="$('.tip').hide(250, 'linear', null);"
            style = "float: right;" >
            Close
        </button>

        <p>Please note: No location has been set for this Group yet.</p>
        <p>To set a location, either:</p>
        <ol>
            <li>
                Place a device:<br/>
                - Click on a device from the list to the right of the map<br/>
                - Click the map to set the location for the device as well as the Group<br/>
            </li>
            <li>
                Create a perimeter:<br/>
                - Click the "Draw Perimeter" button<br/>
                - Click the map to set the start, and then the end of the perimeter<br/>
            </li>
        </ol>
    </div>
<% end %>

<br/>
<br/>

<%= react_component("GoogleMap",
    {
        markerIconOnline: asset_path("deviceOnline.png"),
        markerIconOffline: asset_path("deviceOffline.png"),
        markerIconMaintenance: asset_path("deviceMaintenance.png"),
        markerIconAlarm: asset_path("deviceAlarm.png"),
        perimIconUrl: asset_path("perimeter.png"),
        offlineAlarmUrl: asset_path("device_offline_alarm.mp3"),
        perimAlarmUrl: asset_path("perimeter_alarm.mp3"),
        curr_client_group: @client_group.id,
        map_lat: @client_group.latitude ? @client_group.latitude : -25.850187,
        map_lng: @client_group.longitude ? @client_group.longitude : 28.198042,
        saved_zoom: @client_group.zoom_level,
        auth_token: form_authenticity_token,
        devices: @devices.as_json,
        map_groups: @map_groups.as_json(include: :devices),
        curr_user_i: current_user.id,
        curr_user_type: current_user.usertype,
        cable_url: (Rails.env == "development") ? "ws://localhost:3000/cable" : "wss://wi-i-cloud.herokuapp.com/cable"
    })
%>

<br/>
<br/>
<br/>

<% if current_user.usertype == "Operator" %>
    <%= link_to 'Back to Dashboard', root_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
<% else %>
    <%= link_to 'Back to Groups', client_groups_path, class: "waves-effect waves-light blue lighten-1 btn-small white-text" %>
<% end %>